@charset "utf-8";

.kanan-chart {
    width: 320px;
    height: 180px;
    border: 1px solid #000;
    margin-bottom: 1em;
    overflow: auto hidden;
}

.kanan-chart:last-child {
    margin-bottom: 0;
}